

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Sosmate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarSupportedContent">
      <div>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#about">About</a>
          </li>

        </ul>
      </div>

      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login or Register</a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</nav>

<div class="d-flex align-content-center container" >
  <div class="container-fluid w-50" style="height: 100vh;padding-top: 100px;background-color: rgb(83, 83, 83);">
    <div style="color: white;padding-top: 30vh;padding-bottom: 30vh;">
      <h1 style="height: auto;">connect with people worldwide.</h1>
      <a class="btn btn-outline-light w-25 h-25" href="/login">Join Now</a>
    </div>
  </div>
  <div class="container-fluid w-50" style="padding-top: 100px;background-color: rgb(201, 201, 201);">
    
  </div>
</div>

<div class="d-flex align-content-center container" >
  <div class="container-fluid w-100" style="padding-top: 100px;background-color: rgb(255, 255, 255);">
    <h1 class="border-5 border-dark border-bottom" id="about">About</h1>
    <h5 class="pt-5">Sosmate is a social media app that can share your great moment online</h5>
    <h5 class="pt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam vel nihil repellat quae odio ullam quidem dolor architecto. Quia id temporibus harum distinctio pariatur exercitationem voluptatibus dolores dignissimos repellat consectetur?</h5>
    <h5 class="pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut non numquam dolore molestias obcaecati accusamus fugit eveniet assumenda minus. Commodi sed veniam porro maiores, quasi qui rem culpa voluptas amet.</h5>
    <h5 class="pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut non numquam dolore molestias obcaecati accusamus fugit eveniet assumenda minus. Commodi sed veniam porro maiores, quasi qui rem culpa voluptas amet.</h5>
    <h5 class="pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut non numquam dolore molestias obcaecati accusamus fugit eveniet assumenda minus. Commodi sed veniam porro maiores, quasi qui rem culpa voluptas amet.</h5>
  </div>
</div>

<footer style="padding-top: 300px;">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-5 border-dark border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="text-muted">&copy; 2021 Sosmate</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </footer>
  </div>
  
  <div class="b-example-divider"></div>
  
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-5 border-dark border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2021 Sosmate</p>
    </footer>
  </div>
</footer>
  
</body>
</html>
